
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Corewood LLC</p>
            <div class="social-links">
                <a href="mailto:hello@corewood.info"><i data-lucide="mail"></i></a>
                <a href="https://www.linkedin.com/company/corewood-llc/"><i data-lucide="linkedin"></i></a>
                <a href="https://bsky.app/profile/corewood.cloud"><i class="bsky"></i></a>
            </div>
        </div>
    </footer>
    <script src="scripts/main.js"></script>
    <div display="none">
        <a href="https://corewood.info"></a>
        <a href="https://corewood.io"></a>
        <a href="https://corewood.cloud"></a>
        <a href="https://corewood.tech"></a>
    </div>
</body>
</html>
