<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .URL }}/">
    <meta property="og:title" content="Corewood LLC - DevOps Consulting & Cloud Solutions">
    <meta property="og:description" content="Expert DevOps consulting services by chief consultant / systems architect Kyle Mickey. Identity, AWS DevOps, cloud systems, and platform engineering solutions for your business. Technical writer and software engineer.">

    <meta name="keywords" content="DevOps consulting, AWS DevOps, Kyle Mickey, Corewood LLC, cloud DevOps, systems engineering, DevOps contractor, platform engineering, cloud solutions">

    <meta property="og:image" content="img/corewood_full_ON-LIGHT.png">

    <title>Corewood LLC - DevOps Consultancy</title>
    <link rel="icon" href="img/corewood_symbol_avatar_green.png">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/resume.css">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>
    <nav>
        <div class="nav-content">
            <a href="/index.html" class="logo-link"><img src="img/corewood_full_ON-LIGHT.png" alt="Corewood Logo"
                    class="nav-logo"></a>
            <ul class="nav-links">
                <li><a href="/#services" class="menu-link">Services</a></li>
                <li><a href="/#story" class="menu-link">Story</a></li>
                <li><a href="/#approach" class="menu-link">Our Approach</a></li>
                <li><a href="/#contact" class="menu-link">Contact</a></li>
            </ul>
            <button class="hamburger" aria-label="Toggle menu">
                <i data-lucide="menu"></i>
            </button>
        </div>
    </nav>
