---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://corewood.io/</loc><changefreq>monthly</changefreq><priority>1.0</priority></url>
  <url><loc>https://corewood.io/about/</loc><changefreq>monthly</changefreq><priority>0.8</priority></url>
  <url><loc>https://corewood.io/about/mickey/</loc><changefreq>monthly</changefreq><priority>0.6</priority></url>
  <url><loc>https://corewood.io/blog/</loc><changefreq>weekly</changefreq><priority>0.8</priority></url>
  <url><loc>https://corewood.io/contact/</loc><changefreq>monthly</changefreq><priority>0.7</priority></url>
  <url><loc>https://corewood.io/profile/</loc><changefreq>monthly</changefreq><priority>0.7</priority></url>
  <url><loc>https://corewood.io/profile/landscope/</loc><changefreq>monthly</changefreq><priority>0.6</priority></url>
  <url><loc>https://corewood.io/profile/masquer/</loc><changefreq>monthly</changefreq><priority>0.6</priority></url>
  <url><loc>https://corewood.io/profile/llm-apis/</loc><changefreq>monthly</changefreq><priority>0.6</priority></url>
  <url><loc>https://corewood.io/rootstock/</loc><changefreq>monthly</changefreq><priority>0.8</priority></url>
  <url><loc>https://corewood.io/privacy/</loc><changefreq>yearly</changefreq><priority>0.3</priority></url>
  {% for post in collections.blog %}
  <url>
    <loc>https://corewood.io{{ post.url }}</loc>
    <lastmod>{{ post.date | date('%Y-%m-%d') }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}
</urlset>
