    <section id="help" style="padding-top: 6rem;">
        <div class="content-wrapper">
            <img src="img/corewood_full_ON-LIGHT.png" alt="Corewood Logo" class="logo">
            <h1>Thanks for messaging!</h1>

            <blockquote>
                We are grateful for your message. We will be getting back to you as soon as possible.
            </blockquote>
        </div>
    </section>
